<div class="profile-card">

  <div class="avatar-wrapper">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "avatar" %>
    <% else %>
      <div class="avatar-placeholder">👤</div>
    <% end %>
  </div>

  <h1 class="profile-name"><%= @user.email %></h1>

  <div class="stats">
    <div>
      <strong><%= @user.posts.count %></strong>
      <span>Posts</span>
    </div>

    <div>
      <strong><%= @user.followers.count %></strong>
      <span>Followers</span>
    </div>

    <div>
      <strong><%= @user.following.count %></strong>
      <span>Following</span>
    </div>
  </div>

  <%= link_to "← Back Home", root_path, class: "btn-back" %>

</div>
